@page "/eliminar"
@using Vacunate_RD.Data;

<style>
    #paw{
        justify-content: center;
    }
</style>
<div class="container">
  <center>
    <h1 style="text-align: center; color: white; height: 65px" class="mt-2 pt-2 mb-4">Eliminar Registros</h1>
    <hr style="background-color: white" class="mt-2" />
  </center>
</div>

<div class="container">
    <div id="paw" class="row ml-auto">
        <input style="width: 25%;" type="text" class="form-control ml-2" @bind-value="elegir" placeholder="Id">
        <button class="btn btn-warning ml-2 mb-3" @onclick="Borrar">Eliminar</button>
        <br>
    </div>
</div>

<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Provincia</th>
            <th>Fecha nacimiento</th>
            <th>TipoVacuna</th>
            <th>Fecha Dosis</th>
            <th>Signo zodiaco</th>
            
           
        </tr>
    </thead>
    <tbody>
        @foreach (Vacunado vacu in GetVacunados())
        {
            <tr>
                <td>@vacu.Id</td>
                <td>@vacu.Cedula</td>
                <td>@vacu.Nombre</td>
                <td>@vacu.Apellido</td>
                <td>@vacu.Telefono</td>
                <td>@vacu.Provincia</td>
                <td>@vacu.Fecha_nacimiento</td>
                <td>@vacu.TipoVacuna</td>
                <td>@vacu.Fecha_Dosis</td>
                <td>@vacu.signo_zodiaco</td>
            </tr>
        }

    </tbody>
</table>

@code {
    string elegir;
    int valor = 0;

    public void Borrar()
    {

        using (VacunateRDContext con = new VacunateRDContext())
        {
            con.Vacunados.RemoveRange(con.Vacunados.Where(x => x.Id == int.Parse (elegir)));
            con.SaveChanges();
            valor = 1;
        }


    }

    

    List<Vacunado> GetVacunados() => new VacunateRDContext().Vacunados.ToList();
}